# PCAT cron configuration file.
# TIME DOMAIN
# 2 August 2014
# Each line contains a channel name and PCAT's parameters for the given channel
# If a pound (#) is placed at any point of a line, the line is ignored.
#
# Channel name					# IFO	# Frame Type	# Threshold	 # Variables number  # Highpass cutoff  # Whitening   # Downsample frequency	# Segment Size  # Components Number  # Max Clusters
## LSC
#L1:LSC-DARM_ERR				L		L1_R			6.0			 512				10					YES				4096.0					8			   10				   10
L1:LSC-DARM_IN1_DQ				L		L1_R			6.0			 512				10					YES				4096.0					8			   10				   10

## PSL
L1:PSL-ODC_CHANNEL_OUT_DQ		L		L1_R			6.0			 512				10					YES				4096.0					8			   10				   10
#L1:PSL-FSS_MIXER_OUT_DQ		L		L1_R			6.0			 512				10					YES				4096.0					8			   10				   10

## IMC
L1:IMC-F_OUT_DQ					L		L1_R			6.0			 512				15					YES				4096.0					8			   10				   10
#L1:IMC-I_OUT_DQ				L		L1_R			6.0			 512				15					YES				4096.0					8			   10				   10

## ALS
L1:ALS-C_TRX_A_LF_OUT_DQ		L	   L1_R				6.0			 256				10					YES				4096.0					8			   10				   10

## OAF
#L1:OAF-CAL_DARM_DQ				L	   L1_R				6.0			 2048				10					YES				16384.0				   8			   10				   10
