# PCAT cron configuration file.
# FREQUENCY DOMAIN
# 16 August 2016
# Each line contains a channel name and PCAT's parameters for the given channel
# If a pound (#) is placed at any point of a line, the line is ignored.
#
# Channel name              # IFO   # Frame Type    # Variables number # Segment Size  # Components Number  # Max Clusters
## LSC
#L1:LSC-DARM_ERR		L       L1_R		2048                	60               10           	10
L1:GDS-CALIB_STRAIN		L       L1_HOFT_C00	2048			60	      	 10	        10
L1:LSC-DARM_IN1_DQ		L       L1_R		2048                	60               10             10
#L1:CAL-DELTAL_EXTERNAL_DQ	L       L1_R		2048                	60               10		10
#L1:LSC-CARM_OUT_DQ        	L       L1_R		2048                	60               10             10
#L1:LSC-MICH_OUT_DQ         	L       L1_R		2048                	60               10             10
#L1:LSC-PRCL_OUT_DQ          	L       L1_R		2048               	60               10             10
#L1:LSC-SRCL_OUT_DQ          	L       L1_R		2048                	60               10             10

## OAF
#L1:OAF-CAL_DARM_DQ		L       L1_R		4096                	60               10             10

## PSL
#L1:PSL-ODC_CHANNEL_OUT_DQ   	L       L1_R		2048                	60               10             10
#L1:PSL-FSS_MIXER_OUT_DQ     	L       L1_R		2048                	60               10             10

## IMC
#L1:IMC-F_OUT_DQ             	L       L1_R		2048                	60               10             10
#L1:IMC-I_OUT_DQ             	L       L1_R		2048                	60               10             10

## CAL
#L1:CAL-PCALX_TX_PD_OUT_DQ   	L       L1_R		2048                	60               10             10

## ALS
#L1:ALS-C_TRX_A_LF_OUT_DQ    	L       L1_R		2048                	60               10             10


