# PCAT cron configuration file.
# Each line contains a channel name and PCAT's parameters for the given channel
#
#
# Channel name                   # IFO   # Frame Type   # Threshold     # Variables number  # Highpass cutoff  # Whitening   # Downsample frequency    # Segment Size  # Components Number  # Max Clusters
## LSC
#L1:LSC-DARM_ERR		L       L1_R           	4.0             1024                 10                 YES           4096.0                    16             0                   10
L1:GDS-CALIB_STRAIN		L       L1_HOFT_C00    	4.0             1024                 10                 YES           8192.0                    16             20                  10
#L1:CAL-DELTAL_EXTERNAL_DQ	L	L1_R		4.0		1024		     10			YES	      8192.0			16	       20		   10
L1:LSC-DARM_IN1_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             20                  10

#L1:LSC-CARM_OUT_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-MICH_IN1_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-MICH_OUT_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-PRCL_IN1_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-PRCL_OUT_DQ		L       L1_R           	4.5             1024                 10                 YES           8192.0                    16             0                   10

#L1:LSC-SRCL_IN1_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-SRCL_OUT_DQ		L       L1_R           	4.5		1024                 10                 YES           8192.0                    16             0                   10
#L1:LSC-CARM_IN1_DQ		L       L1_R           	4.0             1024                 10                 YES           8192.0                    16             0                   10

## PSL
#L1:PSL-ODC_CHANNEL_OUT_DQ	L       L1_R           	4.5             512                  10                 YES           4096.0                    16             0                   10
#L1:PSL-FSS_MIXER_OUT_DQ	L       L1_R           	4.5             512                  10                 YES           4096.0                    16             0                   10

## IMC
#L1:IMC-F_OUT_DQ		L       L1_R           	4.5             1024                 15                 YES           8192.0                    16             0                   10
#L1:IMC-I_OUT_DQ		L       L1_R           	4.5             1024                 15                 YES           8192.0                    16             0                   10
#L1:IMC-TRANS_OUT_DQ		L       L1_R           	4.5             1024                 15                 YES           8192.0                    16             0                   10

## CAL
#L1:CAL-PCALX_TX_PD_OUT_DQ	L       L1_R           	4.5             1024                 15                 YES           8192.0                    16             0                   10

## ALS
#L1:ALS-X_ARM_IN1_DQ		L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10
#L1:ALS-Y_ARM_IN1_DQ		L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10
#L1:ALS-X_REFL_CTRL_OUT_DQ	L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10
#L1:ALS-X_REFL_ERR_OUT_DQ	L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10
#L1:ALS-Y_REFL_ERR_OUT_DQ	L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10
#L1:ALS-Y_REFL_CTRL_OUT_DQ	L       L1_R           	5.0             1024                10                 YES           8192.0                    16              0                   10

## OAF
#L1:OAF-CAL_DARM_DQ		L       L1_R           4.5             1024                 10                 NO          8192.0                    16              0                   10

## SUS
#L1:SUS-ITMY_L3_OPLEV_SUM_OUT_DQ  L       L1_R           4.5             256                  10                 NO          8192.0                    16              0                   10
#L1:SUS-PR3_M3_OPLEV_SUM_OUT_DQ   L       L1_R           4.5             256                  10                 NO          8192.0                    16              0                   10
#L1:SUS-BS_M3_OPLEV_SUM_OUT_DQ    L       L1_R           4.5             256                  10                 NO          8192.0                    16              0                   10

## OMC
#L1:OMC-*			L       L1_R           4.5             1024                 10                 YES          8192.0                    16               0                  10

## ASC

#L1:ASC-AS_B_RF36_I_YAW_OUT_DQ	L       L1_R           4.5             1024                  10                 YES          2048.0                    16              0                   10
#L1:ASC-AS_B_RF36_Q_YAW_OUT_DQ	L       L1_R           4.5             1024                  10                 YES          2048.0                    16              0                   10
